{% extends "layout.html" %}

{% block content %}
<div class="col-lg-4 m-lg-0 mt-4">
  <div class="row row-cards">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Statistics</h3>
        </div>
        <div class="card-body">
          <p>Total number of transactions <strong class="btn btn-yellow">{{ count }}</strong></p>
          <p>Total transaction amount <strong class="btn btn-yellow">{{ amount }}</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
